.margin-top-small{margin-top: 1rem;}
.margin-top-large{margin-top: 4rem;}
.margin-top-hung{margin-top: 6rem;}
.margin-bottom-small{margin-bottom: 2rem;}
.margin-bottom-large{margin-bottom: 4rem;}
.margin-bottom-hung{margin-bottom: 6rem;}