$color-red-light:rgb(238, 53, 53);
$color-black:#000;
$color-black-light:#5c6873;;
$color-grey:rgb(233, 227, 227);
$color-grey-light:#c8ced3;
$color-grey-light-2:#f0f3f5;
$color-grey-dark:rgb(172, 166, 166);
$color-white:#fff;
$color-blue:#20a8d8;
$color-blue-dark:#16779b;
$color-green:#4dbd74;
$color-green-dark:#3b925a;
